*.class

auto

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*~
\#*\#

.ignore


## For LaTeX

*.aux
*.log
*.out
*.pdf
*.synctex.gz
*.toc

# For Haskell
*.hi
*.o
dist
cabal.sandbox.config
.cabal-sandbox
ssl.csr
ssl.key
ssl.crt
client_session_key.aes
.DS_Store
test.config
.stack-work
.cabal-sandbox.bak


## temp stack.yaml
stack-tmp.yaml


# For VS Code

.vscode
TEST
test

\#*\#
.markdown-preview.html
.\#*
*~
.ignore


*.lhs~
*.jfd
*.jfdproj
